# Python cache and bytecode
__pycache__
.py[cod]

# Virtual environment
venv
env

# Environment variables  secrets
.env

# Logs
.log

# Build and distribution
build
dist
.egg-info

# IDE or editor files
.vscode
.idea
GFdocuments/